@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@350&display=swap');

html, body{
    padding: 0;
    margin: 0;
    background-color: #F0E68C;
    font-family: "Noto Sans JP", sans-serif;
    height: 100%;
    color: rgb(49, 49, 93);
}

header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
}

main {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kakakucom, .cpuPassmark {
    width: 80%;
}

hr {
    width: 100%;
    margin: 50px 0;
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maker, .cpu {
    width: 80%;
}